h1 {text-align:center;
color:#71E5DE;
}

h2{text-align:center;
color:#DAF7A6;
}

h3{text-align:center;}

h4{text-align:center;}

a:link, a:visited { color:#70E6C2;
text-decoration: none;
 }

a:hover { color:#C270E6;
}
nav{text-align:center;
font-size: x-large;}

body {background-color:#C39BD3;}
table {

	width: 100%;
}

th{
	height: 50px;
	
}

tbody{
	text-align:center;
}

footer{
	text-align:center;
}

p{
	text-align:center;
	font-family: Arial, Verdana, Sans-serif;
}

main{
	text-align:left;
	font-family: Arial, Verdana, Sans-serif;
}

img{display: block;
	margin: auto;}

#tips{ color:#FFFFFF;
text-decoration: none;
font-size: x-large;
}
.button{
	border: 2px solid #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

#button1 {
    background-color: #AB3456; 
}

#button2 {
    background-color: #93D9F4; 
    }

#button3 {
    background-color: #E6FF1E; 
}

@media screen
{
    #printMessage{display:none;}
}

@media print
{
    #printMessage{}
}